html, body {
  font-family: 'Lato', sans-serif;
  margin: 0px auto;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #475fb0;
  padding: 20px;
  color: white;
  border-bottom: black 1px solid;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

ol.chatroom {
  padding: 0;
  overflow: auto;
}
li {
  list-style-type: none;
}
.App-title{
  font-family: 'Pacifico', cursive;
}
.chatroom {
  width: 600px;
  height: 600px;
  background-color:rgba(200, 200, 200, 0.3);
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 8px 0 rgba(0,0,0, 0.3);
  margin: auto;
  padding: 0;
  overflow: auto;
}
.name {
  font-weight: 800px;
  color: blue;
  margin: 10px;
  font-weight: 700;
  text-align: left;
}
.message {
  text-align: left;
}
.chatroom h3 {
  font-family: 'Pacifico', cursive;
  background-color: rgba(49, 30, 228, 0.7);
  color: #FFF;
  margin: 0;
  height: 40px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chatroom .chats .chat {
  background: rgba(255, 255, 255, 0.8);
  position: relative;
  
  font-size: 14px;
  border-radius: 10px;
  list-style: none;
  /*float: left;*/
  clear: both;
  margin: 10px 0;
  max-width: 200px;
  margin-top: 15px;
}

.chat li {
  overflow: hidden;
  display: flex;
  border: 1px solid grey;
  border-radius: 12px;
  background-color: lightgrey;
}
.chat .avatar {
  width: 40px;
  height: 40px;
  position: relative;
  display: block;
  z-index: 2;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  background-color: rgba(255,255,255,0.9);
}
.chat .avatar img{
  width: 40px;
  height: 40px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  background-color: rgba(255,255,255,0.9);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.chat .day {
  position: relative;
  display: block;
  text-align: center;
  color: #c0c0c0;
  height: 20px;
  text-shadow: 7px 0px 0px #e5e5e5, 6px 0px 0px #e5e5e5, 5px 0px 0px #e5e5e5, 4px 0px 0px #e5e5e5, 3px 0px 0px #e5e5e5, 2px 0px 0px #e5e5e5, 1px 0px 0px #e5e5e5, 1px 0px 0px #e5e5e5, 0px 0px 0px #e5e5e5, -1px 0px 0px #e5e5e5, -2px 0px 0px #e5e5e5, -3px 0px 0px #e5e5e5, -4px 0px 0px #e5e5e5, -5px 0px 0px #e5e5e5, -6px 0px 0px #e5e5e5, -7px 0px 0px #e5e5e5;
  box-shadow: inset 20px 0px 0px #e5e5e5, inset -20px 0px 0px #e5e5e5, inset 0px -2px 0px #d7d7d7;
  line-height: 38px;
  margin-top: 5px;
  margin-bottom: 20px;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.left {
  float: left;
  clear: both;
}

.right {
    float: right;
    clear: both;
    background-color: aliceblue;
}

.other .msg {
  order: 1;
  border-top-left-radius: 0px;
  box-shadow: -1px 2px 0px #D4D4D4;
}
.other:before {
  content: "";
  position: relative;
  top: 0px;
  right: 0px;
  left: 40px;
  width: 0px;
  height: 0px;
  border: 5px solid #fff;
  border-left-color: transparent;
  border-bottom-color: transparent;
}

.self {
  justify-content: flex-end;
  align-items: flex-end;
}
.self .msg {
  order: 1;
  border-bottom-right-radius: 0px;
  box-shadow: 1px 2px 0px #D4D4D4;
}
.self .avatar {
  order: 2;
}
.self .avatar:after {
  content: "";
  position: relative;
  display: inline-block;
  bottom: 19px;
  right: 0px;
  width: 0px;
  height: 0px;
  border: 5px solid #fff;
  border-right-color: transparent;
  border-top-color: transparent;
  box-shadow: 0px 2px 0px #D4D4D4;
}

.msg {
  background: white;
  min-width: 50px;
  padding: 10px;
  border-radius: 2px;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.07);
}
.msg p {
  font-size: 0.8rem;
  margin: 0 0 0.2rem 0;
  color: #777;
}
.msg img {
  position: relative;
  display: block;
  width: 450px;
  border-radius: 5px;
  box-shadow: 0px 0px 3px #eee;
  transition: all .4s cubic-bezier(0.565, -0.260, 0.255, 1.410);
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.msg time {
  font-size: 0.7rem;
  color: #ccc;
  margin-top: 3px;
  float: right;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.msg time:before{
  content:"\f017";
  color: #ddd;
  font-family: FontAwesome;
  display: inline-block;
  margin-right: 4px;
}
